<div class="row">
 <h1>Monate Café</h1>
{{!-- <form action="/index/:username" method="GET"> --}}
     <input type="text" name="username" value="" placeholder="enter username" class="enterName">
<br>
<br>
<a href="/admin"> <button type="button" class="adminBtn">Administration</button></a>
<a href="/waiter/"><button type="button" class="employBtn">Employee</button></a>
{{!-- </form> --}}

</div>