<div class="row">
 <h1>Monate Café</h1>
 <p>Where Coffee tastes like Coffee</p>
<form action="/waiter/{{username}}" method="Post"> 
     {{!-- <input type="text" name="username" value="" placeholder="enter username" class="enterName"> --}}
  <input type="text" name="username" value="{{username}}" placeholder="enter your name here" class="username">
            <span class="label-body"></span>
<br>
<br>
<a href="waitersList"><button type="button" class="employBtn">Waiter</button></a>
</form>
<a href="/admin"> <button type="button" class="adminBtn">Administrator</button></a>


</div>