<div class="row">
    <h1>Monate Café</h1>
    <p>Where Coffee tastes like Coffee</p>

    {{!-- <h2>Employee Section</h2> --}}


    <br>

<h3>Please Enter Your Name On The URL  to select your days e.g. 
    <br>
    <br>/waiter/yourName</h3>

</div>